.container {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-bottom: 15px;
}

.point {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8px;
}

.pointInner {
    margin-bottom: 10px;
    background: #ff4d4d; /* bright red */
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.low {
    width: 4px;
    height: 4px;
    border-radius: 2px;
}

.high {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.volume {
    position: relative;
    width: 45px;
    height: 90px;
    background: #330000; /* very dark red */
    box-sizing: border-box;
}

.failed .volume {
    border: 2px solid #ff1a1a; /* intense red */
    background: #4d0000; /* dark red */
}

.innerVolume {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ff4d4d; /* bright red */
    transition: height 1s;
}

.failed .innerVolume {
    background: #ff0000; /* red */
}

.icon {
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 100px;
    margin-left: -50px;
    font-size: 13px;
    text-align: center;
    color: #ffcccc; /* light red */
}

.failed .icon {
    color: #ff1a1a; /* bright red */
}
